@page "/"
@using System.Net.Http.Json
@using MyPortfolio.Models
@inject HttpClient Http

<PageTitle>My Portfolio</PageTitle>

@* ⬇️⬇️⬇️ Add codes below ⬇️⬇️⬇️ *@

<style>
  #header {
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background: rgba(255,255,255,0.75);
    padding: 1rem;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  /* ⬇️⬇️⬇️ Add codes below ⬇️⬇️⬇️ */
  
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 5rem 0 3rem;
    width: 100vw;
  }
  
  /* ⬆️⬆️⬆️ Add codes above ⬆️⬆️⬆️ */
</style>

@* ⬆️⬆️⬆️ Add codes above ⬆️⬆️⬆️ *@

@* ⬇️⬇️⬇️ Add codes below ⬇️⬇️⬇️ *@

<div id="header">
    <a href="#home" target="_top">Home</a>
    <a href="#about" target="_top">About</a>
    <a href="#portfolio" target="_top">Portfolio</a>
    <a href="#contact" target="_top">Contact</a>
</div>

@* ⬆️⬆️⬆️ Add codes above ⬆️⬆️⬆️ *@

@* ⬇️⬇️⬇️ Add codes below ⬇️⬇️⬇️ *@

<section class="dark" id="home">
    @if (heroHome is not null)
    {
        <img class="background" src="@(heroHome.Src)" alt="@(heroHome.Alt)" />
    }
    <div style="position: absolute; top: 30%; left: 2rem;">
    @if (property is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h1>@property.Name</h1>
        <h2>@property.Title</h2>
    }
    </div>
    <div style="position: absolute; bottom: 8rem; left: 50%;">
        <a href="#about" target="_top">
            <img src="images/down-arrow.svg" style="height: 3rem; width: 3rem;" alt="scroll down" />
        </a>
    </div>
</section>

@* ⬇️⬇️⬇️ Add codes below ⬇️⬇️⬇️ *@

<section class="light" id="about">
    @if (heroAboutMe is not null)
    {
        <img class="background" src="@(heroAboutMe.Src)" alt="@(heroAboutMe.Alt)" />
    }
    <h2>About Myself</h2>
    <div style="background-color: white; width: 50%; padding: 4rem; margin: 3rem auto; text-align: center;">
    @if (aboutMe is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <p class="large">@aboutMe.Description</p>
        <hr />
        <ul style="text-align: left; columns: 2; font-size: 1.25rem; margin: 2rem 3rem; gap: 3rem;">
        @foreach (var skill in aboutMe.Skills)
        {
            <li key="@skill">@skill</li>
        }
        </ul>
        <hr />
        <p style="padding: 1rem 3rem 0;">@aboutMe.DetailOrQuote</p>
    }
    </div>
</section>

@* ⬆️⬆️⬆️ Add codes above ⬆️⬆️⬆️ *@

@* ⬇️⬇️⬇️ Add codes below ⬇️⬇️⬇️ *@
    
<section class="light" id="portfolio">
    <h2>Portfolio</h2>
    <div class="portfolio-container">
    @if (projects is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="portfolio-hero">
            @if (heroPortfolio is not null)
            {
                <img src="@(heroPortfolio.Src)" style="height: 90%; width: 100%; object-fit: cover;" alt="@(heroPortfolio.Alt)" />
            }
        </div>
        <div class="container">
            @foreach (var project in projects)
            {
                <div class="box" key="@project.Title">
                    <a href="@project.Url" target="_blank" rel="noopener noreferrer">
                        <h3 style="flex-basis: 40px;">@project.Title</h3>
                    </a>
                    <p class="small">@project.Description</p>
                </div>
            }
        </div>
    }
    </div>
</section>
    
@* ⬆️⬆️⬆️ Add codes above ⬆️⬆️⬆️ *@

@* ⬇️⬇️⬇️ Add codes below ⬇️⬇️⬇️ *@
        
<div id="contact" style="background-color: #4E567E;">
    @if (property is null)
    {
        <div style="display: flex; justify-content: center; gap: 2.5rem;">
            <p><em>Loading...</em></p>
        </div>
    }
    else if (icons is not null)
    {
        <div style="display: flex; justify-content: center; gap: 2.5rem;">
            @if (string.IsNullOrWhiteSpace(property.Email) is false)
            {
                <a href="mailto:@(property.Email)">
                    <img src="@icons.Email" alt="email" class="social-icon" />
                </a>
            }
            @if (string.IsNullOrWhiteSpace(property.LinkedIn) is false)
            {
                <a href="https://linkedin.com/in/@(property.LinkedIn)" target="_blank" rel="noopener noreferrer">
                    <img src="@icons.LinkedIn" alt="LinkedIn" class="social-icon" />
                </a>
            }
            @if (string.IsNullOrWhiteSpace(property.GitHub) is false)
            {
                <a href="https://github.com/@(property.GitHub)" target="_blank" rel="noopener noreferrer">
                    <img src="@icons.GitHub" alt="GitHub" class="social-icon" />
                </a>
            }
        </div>
        <p class="small" style="margin-top: 0; color: white;">Created by @property.Name</p>
    }
</div>

@* ⬆️⬆️⬆️ Add codes above ⬆️⬆️⬆️ *@

@code {
    private SiteProperties? property;
    private HeroImage? heroHome;

    private AboutMe? aboutMe;
    private HeroImage? heroAboutMe;

    private List<Project>? projects;
    private HeroImage? heroPortfolio;

    private SocialIcons? icons;
    
    protected override async Task OnInitializedAsync()
    {
        property = await Http.GetFromJsonAsync<SiteProperties>("sample-data/siteproperties.json");

        var heros = await Http.GetFromJsonAsync<List<HeroImage>>("sample-data/heroimages.json");
        heroHome = heros.SingleOrDefault(h => h.Name == "home");

        aboutMe = await Http.GetFromJsonAsync<AboutMe>("sample-data/aboutme.json");
        heroAboutMe = heros.SingleOrDefault(h => h.Name == "about");

        projects = await Http.GetFromJsonAsync<List<Project>>("sample-data/projects.json");
        heroPortfolio = heros.SingleOrDefault(h => h.Name == "portfolio");

        icons = await Http.GetFromJsonAsync<SocialIcons>("sample-data/socialicons.json");
    }
}
